<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations - SaFaStore</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <!-- Header content -->
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/logo.png" width = "125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('books') }}">Books</a></li>
                        <li><a href="">Clothes</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
                <img src="images/cart.png" width="30px">
            </div>
        </div>
    </div>
    
    <div class="small-container">
        <h1>Recommendations</h1>
        <div class="row">
            {% for book, url in recommendations %}
            <div class="col-4">
                <img src="{{ url }}" alt="Book Image" width="100%">
                <h4>{{ book }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="footer">
        <!-- Footer content -->
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2023</p>
        </div>
    </div>
</body>
</html>
